.center-element {
    text-align: center;
}


.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.iframe-element {
    border: 0;
    width: 100%;
    max-width: 100%;
    height: 400px;
}

.center-element {
    text-align: center;
    margin: auto;
}

.vertically-centered-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-text {
    font-size: 0.75em;
}

.row-height {
    height: 100px;
    /* Adjust the height as needed */
}

.col-width {
    width: 150px;
    /* Adjust the width as needed */
}